<%- include('./header.ejs') %>
 <!-- news div start -->
     <div class="news">
      <marquee behavior="" direction="" scrollamount="8">
        <span>
          <a href="" class="scroll">
            <b>1.</b>
            Amission Registration 2024-2025
          </a>
        </span>
        <span>
          <a href="" class="scroll">
            <b>2.</b>
            Student Verification
          </a>
        </span>
        <span>
          <a href="" class="scroll">
            <b>3.</b>
             LOAN FACILITY IS AVAILABLE FOR ALL COURSES "Click Here"
          </a>
        </span>
        <span>
          <a href="" class="scroll">
            <b>4.</b>
            Virtual Job Fair
          </a>
        </span>
      </marquee>
     </div>
     <!-- news div end -->

    <!-- banner image start -->
    <div class="container-fluid home">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-9">
          <h5 class="invest">
            an investment in knowledge pays<br />
            the best interest.
          </h5>
          <p class="edu">
            Education is not just about going to school and getting a degree.
            It's about widening your knowledge and <br />
            absorbing the truth about life.Knowledge is power.
          </p>
          <button class="btn hbutton">get started</button>
        </div>

        <div class="col-md-2"></div>
      </div>
      <!--rowend-->
    </div>
    <!--container-fluid end-->
    <!-- banner image end -->

    <!-- welcome part start-->
    <div class="container">
          <div class="row tech">
            <h4 class="csti">
              "Education is the best key success in life"
            </h4>
            <div class="col-md-6">
              <img src="image/h2.jpg" alt="" class="imghome">
            </div>
        
            <div class="col-md-6">
              
              <p class="wel">
                Education lessens the challenges you will face in life. The more knowledge you gain the more opportunities will open up to allow individuals to achieve better possibilities in career and personal growth. Education has played an important role in the career world of the twenty-first century.
                Education is the key to unlock the Golden door of Freedom”(George Washington Carver). Having an education puts us in the best place to have a secured future ...
                The main purpose of education is to strengthen your mind so that you can more easily learn to deal with specific challenges you will face throughout your life.

              </p>
            </div>
           
          </div>
          <!--inner row end-->
        </div>
    </div>
    <!--conatiner end-->
    <!-- welcome part end -->

    <!-- part 3 start -->
     <div class="container-fluid">
      <div class="row ">
        <h4 class="Campus">Welcome to our Campus</h4>
        <div class="col-md-4 box1">
          <h5 class="service">education services</h5>
          <hr class="text-white">
          <p class="para">Seamlessly visualize quality ellectual capital without superior collaboration and ideas sharing listically</p>
        </div>
        <div class="col-md-4 box2">
          <h5 class="service">international hubs</h5>
          <hr class="text-white">
          <p class="para">Seamlessly visualize quality ellectual capital without superior collaboration and ideas sharing listically</p>

        </div>
        <div class="col-md-4 box3">
          <h5 class="service">bachelor's and master's</h5>
          <hr class="text-white">
          <p class="para">Seamlessly visualize quality ellectual capital without superior collaboration and ideas sharing listically</p>

        </div>
      </div><!--row end-->
     </div><!--container-fluid end-->
     <!-- part 3 end -->

    <!-- courses row 1 start -->
     <div class="container-fluid">
      <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-10">
          <h5 class="course">Courses offered by Computer Science and Technology institution(CSTI)</h5>
          <p class="course1">Computer Science and Technology institution Gwalior offers undergraduate and postgraduate courses in the field of Engineering and Architecture, Management, and Business Administration courses. The Maharana Pratap College of Technology Gwalior courses include BE Computer Science and Engineering, BE Mechanical Engineering, BE Civil Engineering, MCA, MBA, BE Electronics and Communication Engineering, and ME Mechanical Engineering, ME Electronics and Communication Engineering. The candidates before applying for any course at MPCT Gwalior must check the Maharana Pratap College of Technology Gwalior eligibility criteria. 

            The Maharana Pratap College of Technology Gwalior courses are offered in full-time mode. The Maharana Pratap College of Technology Gwalior undergraduate course duration is 4 years. The Maharana Pratap College of Technology, Gwalior postgraduate course is offered for 2 years. The Maharana Pratap College of Technology Gwalior fee depends on the course chosen by the candidate. </p>
          </div>
        <div class="col-md-1">

        </div>
      </div><!--row end-->
     </div><!--container-fluid end-->
    <!-- courses row 1 end -->

    <!-- courses row 2 start -->
    <div class="container-fluid">
      <div class="row expimage">
        <div class="col-md-1">

        </div>
        <div class="col-md-10">
          <h5 class="exp">Explore CSTI Gwalior Courses</h5>
          <button class="btn homebut">BCA</button>
          <button class="btn homebut">B.E/B.Tech</button>
          <button class="btn homebut">Engineering and Architecture</button>
           <button class="btn homebut">M.E/M.Tech</button>
           <br>
          <button class="btn homebut">MBA</button>
          <button class="btn homebut">M.C.A</button>
          <button class="btn homebut">Computer Applications and IT</button>
          
          </div>
        <div class="col-md-1">

        </div>
      </div><!--row end-->
     </div><!--container-fluid end-->
    <!-- courses row 2 end -->

    <!-- courses row 3 start -->
     <div class="container">
      <div class="row ">
        <h4 class="htop mt-4 animate__animated animate__fadeInLeft">most popular <b style="color:  #cc25c5;">top courses -</b> </h4>
        <p class="p1">To help learners decide which course to take, Class Central publishes different course rankings, including the Best Online Courses of All Time.</p>
        <div class="col-md-4 mb-3 mt-3">
          <div class="card shadow-lg cardb" >
            <img src="image/btech1.jpg" alt="" class="himg3">
             <div class="card-body">
              <!-- <center><a href="About"><button class="btn more">more info...</button></a></center> -->

              <center>
                <% if(btech){ %>
                                    <a href="/coursedisplay" class="btn btn-info more1">Course Display</a>
                                <% }else{ %>
                                    <button type="button" class="btn more" data-bs-toggle="modal"
                                                data-bs-target="#btech">Register</button>
                                <% } %>
                
              </center>
             </div><!--card-body end-->
          </div><!--card end-->
        </div>
        <!-- bca div -->
        <div class="col-md-4 mb-3 mt-3">
           <div class="card shadow-lg cardb">
            <img src="image/bca.jpeg" alt="" class="himg3">
            <div class="card-body">
                 <center>
                <% if(bca){ %>
                                    <a href="/coursedisplay" class="btn btn-info more1">Course Display</a>
                                <% }else{ %>
                                    <button type="button" class="btn more " data-bs-toggle="modal"
                                                data-bs-target="#bca">Register</button>
                                <% } %>
                
              </center>
            </div><!--card-body end-->
           </div><!--card end-->
        </div>
        <div class="col-md-4 mb-3 mt-3">
          <div class="card shadow-lg cardb">
           <img src="image/mba.jpeg" alt="" class="himg3">
           <div class="card-body">
              <center>
                <% if(mba){ %>
                                    <a href="/coursedisplay" class="btn btn-info more1">Course Display</a>
                                <% }else{ %>
                                    <button type="button" class="btn more" data-bs-toggle="modal"
                                                data-bs-target="#mba">Register</button>
                                <% } %>
                
              </center>
           </div><!--card-body end-->
          </div><!--card end-->
       </div>
       <div class="col-md-4 mb-3 mt-5">
        <div class="card shadow-lg cardb">
         <img src="image/mca.jpg" alt="" class="himg3">
         <div class="card-body">
             <center>
                <% if(mca){ %>
                                    <a href="/coursedisplay" class="btn btn-info more1">Course Display</a>
                                <% }else{ %>
                                    <button type="button" class="btn more " data-bs-toggle="modal"
                                                data-bs-target="#mca">Register</button>
                                <% } %>
                
              </center>
         </div><!--card-body end-->
        </div><!--card end-->
     </div>
     <div class="col-md-4 mb-3 mt-5">
      <div class="card shadow-lg cardb">
       <img src="image/mtech.jpg" alt="" class="himg3">
       <div class="card-body">
           <center>
                <% if(mtech){ %>
                                    <a href="/coursedisplay" class="btn btn-info more1">Course Display</a>
                                <% }else{ %>
                                    <button type="button" class="btn more" data-bs-toggle="modal"
                                                data-bs-target="#mtech">Register</button>
                                <% } %>
                
              </center>
       </div><!--card-body end-->
      </div><!--card end-->
   </div>
   <div class="col-md-4 mb-3 mt-5">
    <div class="card shadow-lg cardb">
     <img src="image/bsc.jpg" alt="" class="himg3">
     <div class="card-body">
          <center>
                <% if(bsc){ %>
                                    <a href="/coursedisplay" class="btn btn-info more1">Course Display</a>
                                <% }else{ %>
                                    <button type="button" class="btn more" data-bs-toggle="modal"
                                                data-bs-target="#bsc">Register</button>
                                <% } %>
                
              </center>
     </div><!--card-body end-->
    </div><!--card end-->
 </div>

      </div><!--row end-->
     </div><!--container end-->
     <!-- courses row 3 end -->
      
     <br><br>
     
     <!-- MODALS ROW START -->
     <!--Btech Modal -->
    <div class="modal fade" id="btech" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Course Register</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/course_insert" method="post">
                        <div class="mb-3">
                            <label for="">Name</label>
                            <input type="text" value="<%= n %>" name="name" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="">Email</label>
                            <input type="text" value="<%= e %>" name="email" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="">Phone no.</label>
                            <input type="number" name="phone" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="">DOB</label>
                            <input type="date" name="dob" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="">Address</label>
                            <textarea name="address" class="form-control"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="">Gender</label>
                            <input type="radio" name="gender" value="male">Male
                            <input type="radio" name="gender" value="female">Female
                        </div>
                        <div class="mb-3">
                            <label for="">Education</label>
                            <select name="education" class="form-control form-select">
                                <option value="">select education</option>
                                <option value="10">10th</option>
                                <option value="12">12th</option>

                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="">Course</label>
                            <input type="text" value="btech" readonly class="form-control" name="course">
                        </div>
                        <button type="submit" class="btn btn-success">Submit</button>

                    </form>
                </div>

            </div>
        </div>
    </div>
    <!--End Btech Modal -->

    <!--bca Modal -->
    <div class="modal fade" id="bca" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Course Register</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/course_insert" method="post">
                        <div class="mb-3">
                            <label for="">Name</label>
                            <input type="text" value="<%= n %>"  name="name" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="">Email</label>
                            <input type="text" value="<%= e %>" name="email" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="">Phone no.</label>
                            <input type="number" name="phone" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="">DOB</label>
                            <input type="date" name="dob" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="">Address</label>
                            <textarea name="address" class="form-control"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="">Gender</label>
                            <input type="radio" name="gender" value="male">Male
                            <input type="radio" name="gender" value="female">Female
                        </div>
                        <div class="mb-3">
                            <label for="">Education</label>
                            <select name="education" class="form-control form-select">
                                <option value="">select education</option>
                                <option value="10">10th</option>
                                <option value="12">12th</option>

                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="">Course</label>
                            <input type="text" value="bca" readonly class="form-control" name="course">
                        </div>
                        <button type="submit" class="btn btn-success">Submit</button>

                    </form>
                </div>

            </div>
        </div>
    </div>
    <!--End bca Modal -->

    <!--mba Modal -->
    <div class="modal fade" id="mba" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Course Register</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/course_insert" method="post">
                        <div class="mb-3">
                            <label for="">Name</label>
                            <input type="text" value="<%= n %>"  name="name" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="">Email</label>
                            <input type="text" value="<%= e %>"  name="email" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="">Phone no.</label>
                            <input type="number" name="phone" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="">DOB</label>
                            <input type="date" name="dob" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="">Address</label>
                            <textarea name="address" class="form-control"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="">Gender</label>
                            <input type="radio" name="gender" value="male">Male
                            <input type="radio" name="gender" value="female">Female
                        </div>
                        <div class="mb-3">
                            <label for="">Education</label>
                            <select name="education" class="form-control form-select">
                                <option value="">select education</option>
                                <option value="10">10th</option>
                                <option value="12">12th</option>

                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="">Course</label>
                            <input type="text" value="mba" readonly class="form-control" name="course">
                        </div>
                        <button type="submit" class="btn btn-success">Submit</button>

                    </form>
                </div>

            </div>
        </div>
    </div>
    <!--End mba Modal -->

    <!--mca Modal -->
    <div class="modal fade" id="mca" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Course Register</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/course_insert" method="post">
                        <div class="mb-3">
                            <label for="">Name</label>
                            <input type="text" value="<%= n %>"  name="name" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="">Email</label>
                            <input type="text" value="<%= e %>"  name="email" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="">Phone no.</label>
                            <input type="number" name="phone" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="">DOB</label>
                            <input type="date" name="dob" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="">Address</label>
                            <textarea name="address" class="form-control"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="">Gender</label>
                            <input type="radio" name="gender" value="male">Male
                            <input type="radio" name="gender" value="female">Female
                        </div>
                        <div class="mb-3">
                            <label for="">Education</label>
                            <select name="education" class="form-control form-select">
                                <option value="">select education</option>
                                <option value="10">10th</option>
                                <option value="12">12th</option>

                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="">Course</label>
                            <input type="text" value="mca" readonly class="form-control" name="course">
                        </div>
                        <button type="submit" class="btn btn-success">Submit</button>

                    </form>
                </div>

            </div>
        </div>
    </div>
    <!--End mca Modal -->

    <!--mtech Modal -->
    <div class="modal fade" id="mtech" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Course Register</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/course_insert" method="post">
                        <div class="mb-3">
                            <label for="">Name</label>
                            <input type="text" name="name" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="">Email</label>
                            <input type="text" name="email" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="">Phone no.</label>
                            <input type="number" name="phone" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="">DOB</label>
                            <input type="date" name="dob" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="">Address</label>
                            <textarea name="address" class="form-control"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="">Gender</label>
                            <input type="radio" name="gender" value="male">Male
                            <input type="radio" name="gender" value="female">Female
                        </div>
                        <div class="mb-3">
                            <label for="">Education</label>
                            <select name="education" class="form-control form-select">
                                <option value="">select education</option>
                                <option value="10">10th</option>
                                <option value="12">12th</option>

                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="">Course</label>
                            <input type="text" value="mtech" readonly class="form-control" name="course">
                        </div>
                        <button type="submit" class="btn btn-success">Submit</button>

                    </form>
                </div>

            </div>
        </div>
    </div>
    <!--End mtech Modal -->

    <!--bsc Modal -->
    <div class="modal fade" id="bsc" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Course Register</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/course_insert" method="post">
                        <div class="mb-3">
                            <label for="">Name</label>
                            <input type="text" value="<%= n %>"  name="name" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="">Email</label>
                            <input type="text" value="<%= e %>"  name="email" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="">Phone no.</label>
                            <input type="number" name="phone" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="">DOB</label>
                            <input type="date" name="dob" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="">Address</label>
                            <textarea name="address" class="form-control"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="">Gender</label>
                            <input type="radio" name="gender" value="male">Male
                            <input type="radio" name="gender" value="female">Female
                        </div>
                        <div class="mb-3">
                            <label for="">Education</label>
                            <select name="education" class="form-control form-select">
                                <option value="">select education</option>
                                <option value="10">10th</option>
                                <option value="12">12th</option>

                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="">Course</label>
                            <input type="text" value="bsc" readonly class="form-control" name="course">
                        </div>
                        <button type="submit" class="btn btn-success">Submit</button>

                    </form>
                </div>

            </div>
        </div>
    </div>
    <!--End bsc Modal -->
     
<%- include('./footer.ejs') %>